.hero {
  text-align: center;

  h1 {
    font-weight: 600;
    font-size: 2.5rem;
  }
}

.search-card {
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 12px; 
  
  mat-form-field {
    width: 100%; 
  }

  button {
    width: 80%;       
    height: 50px;      
    margin-top: -70px; 
    display: block;    
    margin-left: auto;
    margin-right: auto;
  }
}
